body {
    margin: 0;
    padding: 0;
    position: relative;
}
.active {
    fill: blue !important;
}
#logo {
    width: 300px;
    height: 150px;
    position: absolute;
    z-index: 999;
    top: 10px;
    left: 10px;
}
#logo img {
    width: 100%;
    height: auto;
}
/*
#main {
    position: relative;
}
svg.datamap {
    top: -20px;
    left: 0;
}*/
.pin:hover {
    cursor: pointer;
}
.datamaps-hoverover {
    background: #fff;
    width: 200px;
    padding: 10px;
    border: 2px solid #78a7b9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 5px 10px #000;
}
