body {
    margin: 0;
    padding: 0;
    font: 15px 'Roboto Condensed', sans-serif;
}
.map_container {
    position: relative;
}
.active {
    fill: blue !important;
}
#logo {
    width: 300px;
    height: 150px;
    position: absolute;
    z-index: 999;
    top: 10px;
    left: 10px;
}
#logo img {
    width: 100%;
    height: auto;
}
#alerts_counter {
    position: absolute;
    top: 10px;
    right: 30px;
    font-sixe: 38px;
    font-weight: bold;
    color: #00a4f2;
}
.pin:hover {
    cursor: pointer;
}
.datamaps-hoverover,
.datamaps-tooltip {
    background: #fff;
    width: 200px;
    padding: 10px;
    box-shadow: 0 5px 10px #000;
}
.datamaps-hoverover {
    color: #00a4f2;
    text-transform: uppercase;
}
.device_model {
    color: #00a4f2;
}
.pin {
    opacity: 0.01;
}
.pin.active {
    opacity: 1;
}

/***** Test Design *****/
#alerts_list, #alerts_list .bg, #alerts_list ul {
    position: absolute;
    width: 400px;
    height: 110px;
}
#alerts_list {
    right: 40px;
    top: 10px;
    position: absolute;
    width: 400px;
    height: 110px;
    border: 1px solid #00a4f2;
    -webkit-box-shadow: 0 0 5px #00a4f2;
    -moz-box-shadow: 0 0 5px #00a4f2;
    box-shadow: 0 0 5px #00a4f2;
}
#alerts_list .bg, #alerts_list ul {
    top: 0;
    right: 0;
}
#alerts_list .bg {
    background: #929397;
    opacity: 0.3;
}
#alerts_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 2;
}
#alerts_list ul li {
    padding: 3px 10px;
    margin: 0 10px;
    color: #35cdff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px dotted #fff;
}
#alerts_list ul li:first-child {
    border: none;
}
#alerts_list ul li.active, #alerts_list ul li:hover {
    color: #00a4f2;
    /*text-shadow: 0 0 2px #00a4f2;*/
    font-size: 16px;
}
/***** End Test Design *****/
